/* Your styles here */


*{box-sizing: border-box;}

body {
    font-family: 'Open Sans';
    line-height: 1.65;
    font-size: 1.2rem;
    color: #393d41;
    padding: 15px;
    text-align: center;
}
hr {color: white;
    width: 300px;
}

header {
    background-color: black;
    text-align: center;
    margin-bottom: 0;
    padding: 3em 2em;
    width: 100%;
}
header div img {
    margin-bottom: 20px;
}
main {
    padding: 2em 1em;
    margin-bottom: 1em;
}

article{
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 400px;
    text-align: center;
    padding: 1em;
    overflow: hidden;
    margin-bottom: 1em;
}



body > article > div.corso{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
 

}





body > main > figure > img {border-radius: 100%;}

#orangesection{
    background-color: #e22d0e;
    color: white;
    width: 100%;
    height: 10rem;
    padding: 10px;
}
#orangesection > h2{
    font-weight: bold;
    font-size: larger;
}




h1 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.5;
}
h3{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

section{
    margin-bottom: 1em;
    margin-top: 1em;
   
}

footer{
    background-color: #25a2c3;
    text-align: center;
    color: white;
    
}
body > main > footer > ul {
    list-style: none;
}
body  main  aside  section{
    border: 1px solid #dee1e3;
    width: 100%;


}
body > main > aside > section:nth-child(1){
    width: 380px;
    margin: 10px auto;
    display: inline-block;
    margin-top: 15px;
}
body > main > aside > section:nth-child(2){
    width: 380px;
    margin: 10px auto;
    display: inline-block;

}
body > main > aside > section:nth-child(3){
    width: 380px;
    margin: 10px auto;
    display: inline-block;
}
body > main > footer > ul > li:nth-child(1) > i{
    color: white;
}
body > main > footer > ul > li:nth-child(2) > i{
    color: white;
}
body > main > footer > ul > li:nth-child(3) > i{
    color: white;
}
body > main > footer > h2{
    font-size: 2em;
    font-weight: bold;
}
body > main > footer > p{
    margin-top: 20px;
}

body > article > div:nth-child(2) > button{
    padding-inline: 20px;
    width: fit-content;
    background-color: #f04c2f;
    margin:12em auto;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    border-radius: 10%;
    padding: 20px;

}
body > main > footer > ul > li:nth-child(1) > a{
    color: white;
}
body > main > footer > ul > li:nth-child(2) > a{
    color: white;
}
body > main > footer > ul > li:nth-child(3) > a{
    color: white;
}
body > main > footer > p > span{
    text-decoration: underline;
}
