header {
    text-align: center;
    
}

h1{
    text-align: center;
    font-weight: 600;
}

.separatore{
    background-color: yellow;
}
.p1{
    text-align: center;
}
.p2{
    text-emphasis-color: red;
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }



.main{
    text-align: center;
}
.margine{
    
}
