body{
    background-color: #141414 !important;
    overflow-x: hidden;
    position: relative; 
    
}
#blacknav{
    background-color: #0C0C0C !important;
}

.navbar-brand img{
     width: 100px;
}


body > nav > div > div > div.right.d-flex.align-items-center{
    margin-right: 15px;
}

body > div.row{
    display: flex;
    margin: 35px;
    margin-left: 70px;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
body > div.row > div.col-3{
    font-size: 23px;
    color: white;
    font-weight: bolder;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body > div.row.gap-3 > div.col-4.col-md-3.mb-3.mb-md-0.d-flex.align-items-center{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

@media (min-width: 768px) {
    .col-3 {
      width: 15%;
    }
  }
  
  @media (max-width: 768px) {
    .col-3 {
      min-width: 25%;
    }
  }

#dropdownMenuButton1{
    border-radius: 0% !important; 
    background-color: #0C0C0C !important;
}


.dropdown{
    display: flex;
    justify-content: flex-end;
}

.slider-box{
    height: 70vh;
    margin-left: 70px;
}

.slider{
    position: absolute;
    top: 200px ;
    z-index: 500;
    margin-left: 80px; 
    height: 180px;
}

.slider2{
    position: absolute;
    top: 400px ;
    z-index: 500;
}

.slider3{
    position: absolute;
    top: 600px ;
    z-index: 500;
}

body > div.slider-box > div.container-fluid.slider > section > p > b{
    font-size: 23px;
}

body > div.slider-box > div.container-fluid.slider2 > section > p > b{
    font-size: 23px;
}

body > div.slider-box > div.container-fluid.slider3 > section > p > b{
    font-size: 23px;
}


.card{
    width: 250px;
    background-color: #141414;
    transition: 0.2s linear;
    margin: 3px;
    position: relative;
    border: none !important;
    border-radius: 0% !important;
}


.card:hover{
    transform: scaleX(1.2) scaleY(1.2);
    z-index: 1200;
}


.card-icon{
    padding: 0px !important;
    font-size: 28px;
    cursor: pointer;
}

.card:hover > .card-body{
    display: block;
     height: max-content !important; 
     z-index: 1200;
}

.carousel-control-prev-icon{
    left: -10rem;
    position: relative;
}

.carousel-control-next-icon{
    left: -6rem;
    position: relative;
}


.carousel-control-prev{
    display: none;
    left: -6rem;
}

.carousel-control-next{
    display: none;
}

.tab-change-btn{
    border: none;
    width: 30px !important;
}

.margin-right{
    margin-right: 100px;
}


.position-slider2{
    top: 10px !important;
    position: absolute !important;
}

.margin-title2{
    margin-top: 33px;
}

.position-slider3{
    top: 10px !important;
    position: absolute !important;
}


.footer{
    margin-top: 95px;
    margin-bottom: 0px !important;
}

ul{
    list-style: none;
    font-size: 15px ;
    color: rgba(255, 255, 255, 0.367);
    font-weight: 100;
}


.service-btn{
    background-color: transparent;
     margin-left: 30px;
      color: rgba(255, 255, 255, 0.367);
      border: 1px solid rgba(255, 255, 255, 0.367);
      font-size: 15px;
      font-weight: 100;
}

.copy-right{
      font-size: 12px;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.367);
      margin-left: 28px;
}

.btn-outline-dark{ 
font-size: 10px !important;
margin-top: 15px !important;
border-radius: 0% !important;
background-color: transparent !important;
font-size: 0.75rem !important;
color:rgba(255, 255, 255, 0.367);
}

body > div.container.footer > div:nth-child(1){
    margin-bottom: 10px;
}

body > div.container.footer > div:nth-child(2) > div > div > div:nth-child(1) > ul > li:nth-child(5){
    margin-top: 15px;
}

body > div.container.footer > div:nth-child(1) > div{
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.367);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}



@media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
    }
  }

@media (max-width: 768px) {
    .slider-box {
      padding: 0;
    }
    .card {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .carousel-control-next{
        left: 0rem;
    }
  }
  
@media (max-width: 767px) {
    .carousel-item .card {
      flex: -1 0 100%;
      max-width: 100%;
    }
  }
  @media (max-width: 576px) {
    .carousel-inner .carousel-item .card:not(:first-of-type) {
      display: none;
    }
  }

  @media (max-width: 769px) {
    .carousel-inner .carousel-item .card:nth-child(n+2) {
      display: none;
    }
  }

  @media (max-width: 992px) {
    .carousel-inner .carousel-item .card:nth-child(n+3) {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    .carousel-inner .carousel-item .card:nth-child(n+5) {
      display: none;
    }
  }