body{
    background-color: #141414 !important;
}

#logo-netflix > img{
    width: 150px !important;
}

.container-fluid{
    color:white;
    color: white; 
    position: relative;
    flex-wrap: wrap;
    width: 800px;
    padding-top: 200px;
}

body > div.container-fluid > div:nth-child(1) > div > h1{
    font-size: 75px;
}

#dropdownMenuButton1{
    width: 130px;
    background: black;
    font-size: 18px;
    font-weight: 500;
    padding: 1px;
    border-radius: 0px;
}

body > div.container-fluid > div:nth-child(2) > div.col-7.offset-1 > div.row.mb-4 > input{
    background-color: gray;
    color: white;
    border-radius: 0px;
    border: none;
}


body > div.container-fluid > div:nth-child(2) > div.col-2 > img{
    width: 150px;
}

body > div.container-fluid > div:nth-child(3) > div.col-7.offset-1 > div:nth-child(2) > button{
    width: 201px;
    margin-bottom: 25px;
    margin-left: 10px;
    background: #403f3f;
    border: none;
    font-weight: 400;
    border-radius: 4px;
}

.h4yo{
    font-weight: 400;
    color: #b7b6b6;
    font-size: 20px;
}

.btnyo{
    border-radius: 0px;
    border: gray 1px solid;
    color: gray;
    padding: 6px;
    width: 97px;
}

.btngrande{
    width: fit-content;
    padding: 6px 33px;
    font-size: 17px;
    margin-right: 15px;
    position: relative;
    right: -41px;
}

body > div.container-fluid > div:nth-child(5) > div{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
hr{
    margin: 2rem 0 !important;
}


body > div.container-fluid > div:nth-child(6){
    margin-bottom: 50px;
 
}
body > div.container-fluid > div:nth-child(6) > div{
    display: flex;
    justify-content: center;
}


body > div.container-fluid > div:nth-child(4) > div.col-7.offset-1{
    display: flex;
    flex-direction: column;
}


#flexCheckChecked{
    background-color: #141414;
    border-radius: 0px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#flexCheckDefault{
    background-color: #141414;
    border-radius: 0px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.form-check{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 15px;
    align-items: center;
    
}