header {
    display: flex;
    margin: 10px;
    background-color: slateblue;
    padding: 20px;
}

.pHeader {
    width: 75%;
}

.textContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h3 {
    width: -webkit-fill-available;
}


.buttonContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 38%;
    justify-content: center;
}