header {
    display: flex;
    margin: 10px;
}

.textContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

body > header > div.textContainer > p{
    width:50%;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    width: 38%;
}