$black: #000000;
$cornflower-lilac: #ffffff;
$salmon: navy;
$white: #ffffff;
$your-pink: #020202;

.loadingItems{

  text-align: center;
  margin-top: 35vh;
  font-weight: 600;

}

.todoList{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;

}

.todoListItems{

  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: navy solid 1.5px;
  padding: 12rem 9rem ;
  background-color: rgba($color: #f3f3f3, $alpha: 0.8);

}

li {
  display: flex;
  margin-bottom: 0.5rem;
}
