
<p>Totale foto preferite : {{likedCard.length}} </p>


<div class="row">

<div class="card mb-3" style="width: 18rem;" *ngFor="let card of cardArray ">

  <img src="{{card.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{card.title}}</h5>
    <button type="button" class="btn btn-primary me-2" (click)="likeCard(card.id)" >Like</button>
    <button type="button" class="btn btn-danger" (click)="deleteCard(card.id)" >Elimina</button>

  </div>

</div>

</div>
