<p>todo works!</p>

<div *ngIf="isLoading">
  Recupero Tasks...
</div>



<div *ngIf="!isLoading">

<ul>

  <li *ngFor="let todo of todos">
    {{todo.title}} <img src="assets/svg/addsvgedit.svg" class="svgelementedit" [routerLink]="['/editing', todo.id ]">  <img src="assets/svg/addsvgcheck.svg" class="svgelementcheck" (click)= "completeTask(todo)">
  </li>

</ul>

<form>

<input type="text" name="task" [(ngModel)]="newTask.title">
<img src="assets/svg/addsvg.svg" class="svgelement" (click)="addNewTask()">

</form>


</div>
