

<div *ngIf="isLoading" class="loadingItems">
  Recupero Tasks...
</div>





<div *ngIf="!isLoading" class="todoList">

  <div class="todoListItems">



<ul>

  <li *ngFor="let todo of todos">
    {{todo.title}} <img src="assets/svg/addsvgedit.svg" class="svgelementedit" [routerLink]="['/editing', todo.id ]">  <img src="assets/svg/addsvgcheck.svg" class="svgelementcheck" (click)= "completeTask(todo)">
  </li>

</ul>



<!-- <form>

<input type="text" name="task" [(ngModel)]="newTask.title"> -->
<!-- <img src="assets/svg/addsvg.svg" class="svgelement" (click)="addNewTask()"> -->

<!-- </form> -->

<input class="c-checkbox" type="checkbox" id="checkbox">
<div class="c-formContainer">
  <form class="c-form" action="">
    <input class="c-form__input" placeholder="Things to do.." name="formName"  type="text" (keyup.enter)="addNewTask()" [(ngModel)]="newTask.title">
    <label class="c-form__buttonLabel" for="checkbox">
      <button class="c-form__button" type="button" (click)="addNewTask()">Add</button>
    </label>
    <label class="c-form__toggle" for="checkbox" data-title="Add task"></label>
  </form>
</div>







</div>

</div>
